# Assignment 4B

Group Members: Cruz, Melliza, Shih, Tio, Uykingtian

Version 1.01

**Prerequisite:** You need to have gone through Assignment 4A to work through the numbers below.

To make sure that you've done the work, perform checks by running the next few cells below:

In [10]:
import pymongo

In [11]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

print(myclient.list_database_names())

['admin', 'config', 'hr', 'local', 'order_management', 'products']

You should see the following databases:
* order_management
* products
* hr

Let's create handlers for each below:

In [12]:
products_db = myclient["products"]
order_management_db = myclient["order_management"]
hr_db = myclient["hr"]

Let's revisit the employees collection.

In [13]:
employees_col = hr_db["employees"]

[e for e in employees_col.find()]

[{'_id': 1, 'first_name': 'Bong', 'last_name': 'Olpoc', 'base_pay': 2200.0},
 {'_id': 2,
  'first_name': 'Chums',
  'last_name': 'Uy',
  'base_pay': 1650.0000000000002},
 {'_id': 3,
  'first_name': 'Joaqs',
  'last_name': 'Gonzales',
  'base_pay': 1100.0},
 {'_id': 4, 'first_name': 'Joben', 'last_name': 'Ilagan', 'base_pay': 1100.0},
 {'_id': 5, 'first_name': 'Sean', 'last_name': 'Uy', 'base_pay': 2200.0},
 {'_id': 6,
  'first_name': 'Stephen',
  'last_name': 'Chan',
  'base_pay': 1650.0000000000002}]

Let's assign an employee id to make it easier to reference. The convention we will use is just to prefix a year, followed by `_id` with padded zeros.

In [14]:
# we will have to update one document at a time, unfortunately

for e in employees_col.find({}):    
    # print("{}".format(str(e["_id"]).zfill(3)))
    employee_id = "19{}".format(str(e["_id"]).zfill(4))
    print(employee_id)
    employees_col.update_one({"_id":e["_id"]},{"$set":{"employee_id":employee_id}})

190001
190002
190003
190004
190005
190006

In [15]:
# check if new column employee_id was created
for x in employees_col.find():
    print(x)

{'_id': 1, 'first_name': 'Bong', 'last_name': 'Olpoc', 'base_pay': 2200.0, 'employee_id': '190001'}
{'_id': 2, 'first_name': 'Chums', 'last_name': 'Uy', 'base_pay': 1650.0000000000002, 'employee_id': '190002'}
{'_id': 3, 'first_name': 'Joaqs', 'last_name': 'Gonzales', 'base_pay': 1100.0, 'employee_id': '190003'}
{'_id': 4, 'first_name': 'Joben', 'last_name': 'Ilagan', 'base_pay': 1100.0, 'employee_id': '190004'}
{'_id': 5, 'first_name': 'Sean', 'last_name': 'Uy', 'base_pay': 2200.0, 'employee_id': '190005'}
{'_id': 6, 'first_name': 'Stephen', 'last_name': 'Chan', 'base_pay': 1650.0000000000002, 'employee_id': '190006'}

### 1) Logging Sales Orders

Let's create a function `create_sales_order(collection, shopping_cart)` that takes on a MongoDB collection and a shopping cart directory as parameters and inserts the data directly as a document in the passed collection parameter.

But first, we need to create the collection **sales_orders** in **order_management**:

In [16]:
sales_orders_col = order_management_db["sales_orders"]

#### 1a) Insert existing shopping carts to the new collection

Existing shopping cart documents have already been defined below. Insert into the new collection. Let MongoDB handle creating the new `_id`s so no need to define these.

(10 points)

In [22]:
from datetime import datetime

shopping_cart_list = [
    {"transaction_date":datetime.strptime('Jul 1 2019  1:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":1,
     "clerk_id":"190002",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  1:35PM', '%b %d %Y %I:%M%p'),
     "customer_id":2,
     "clerk_id":"190001",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  3:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":3,
     "clerk_id":"190003",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  3:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":4,
     "clerk_id":"190004",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  4:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":5,
     "clerk_id":"190001",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  5:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":6,
     "clerk_id":"190006",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
    {"transaction_date":datetime.strptime('Jul 1 2019  6:30PM', '%b %d %Y %I:%M%p'),
     "customer_id":7,
     "clerk_id":"190005",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":1,
             "subtotal":200
         },
         {
             "code":"turmericbutter",
             "qty":1,
             "subtotal":200
         }
     ]
    },
]

In [23]:
shopping_cart_list

[{'transaction_date': datetime.datetime(2019, 7, 1, 13, 30),
  'customer_id': 1,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 13, 35),
  'customer_id': 2,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 3,
  'clerk_id': '190003',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 4,
  'clerk_id': '190004',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 16, 30),
  'customer_id': 5,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 17, 30),
  'customer_id': 6,
  'clerk_id': '190006',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'transaction_date': datetime.datetime(2019, 7, 1, 18, 30),
  'customer_id': 7,
  'clerk_id': '190005',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]}]

In [24]:
## write code to insert to new collection below
## ---------------------------------------------

x = sales_orders_col.insert_many(shopping_cart_list)

print(x.inserted_ids)


## if you want to repeat the process due to a mistake, run the following line:
# sales_orders_col.delete_many({})

[ObjectId('5d38030dba2abcaaee7b0c12'), ObjectId('5d38030dba2abcaaee7b0c13'), ObjectId('5d38030dba2abcaaee7b0c14'), ObjectId('5d38030dba2abcaaee7b0c15'), ObjectId('5d38030dba2abcaaee7b0c16'), ObjectId('5d38030dba2abcaaee7b0c17'), ObjectId('5d38030dba2abcaaee7b0c18')]

In [20]:
sales_orders_col.delete_many({})

In [25]:
[s for s in sales_orders_col.find()]

[{'_id': ObjectId('5d38030dba2abcaaee7b0c12'),
  'transaction_date': datetime.datetime(2019, 7, 1, 13, 30),
  'customer_id': 1,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d38030dba2abcaaee7b0c13'),
  'transaction_date': datetime.datetime(2019, 7, 1, 13, 35),
  'customer_id': 2,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d38030dba2abcaaee7b0c14'),
  'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 3,
  'clerk_id': '190003',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d38030dba2abcaaee7b0c15'),
  'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 4,
  'clerk_id': '190004',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d38030dba2abcaaee7b0c16'),
  'transaction_date': datetime.datetime(2019, 7, 1, 16, 30),
  'customer_id': 5,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d38030dba2abcaaee7b0c17'),
  'transaction_date': datetime.datetime(2019, 7, 1, 17, 30),
  'customer_id': 6,
  'clerk_id': '190006',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d38030dba2abcaaee7b0c18'),
  'transaction_date': datetime.datetime(2019, 7, 1, 18, 30),
  'customer_id': 7,
  'clerk_id': '190005',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]}]

#### 1b) Define the function  `create_sales_order(collection, shopping_cart)` and test with a new shopping cart dictionary

(10 points)

In [26]:
new_shopping_cart = {
    "transaction_date":datetime.strptime('Jul 2 2019  8:30AM', '%b %d %Y %I:%M%p'),
     "customer_id":3,
     "clerk_id":"190002",
     "total":400,
     "items":[
         {
             "code":"beer",
             "qty":2,
             "subtotal":400
         }
     ]
    }

In [27]:
# define function here

def create_sales_order(collection, shopping_cart):
    # write code here
    if type(shopping_cart)==dict:
        c = collection.insert_one(shopping_cart)
    pass
    if type(shopping_cart) == list:
        c = collection.instert_many(shopping_cart)
    return c

In [28]:
# test your new function here:

create_sales_order(sales_orders_col, new_shopping_cart)

# inspect whole sales_order collection
[s for s in sales_orders_col.find({})]

[{'_id': ObjectId('5d38030dba2abcaaee7b0c12'),
  'transaction_date': datetime.datetime(2019, 7, 1, 13, 30),
  'customer_id': 1,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d38030dba2abcaaee7b0c13'),
  'transaction_date': datetime.datetime(2019, 7, 1, 13, 35),
  'customer_id': 2,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d38030dba2abcaaee7b0c14'),
  'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 3,
  'clerk_id': '190003',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d38030dba2abcaaee7b0c15'),
  'transaction_date': datetime.datetime(2019, 7, 1, 15, 30),
  'customer_id': 4,
  'clerk_id': '190004',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d38030dba2abcaaee7b0c16'),
  'transaction_date': datetime.datetime(2019, 7, 1, 16, 30),
  'customer_id': 5,
  'clerk_id': '190001',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d38030dba2abcaaee7b0c17'),
  'transaction_date': datetime.datetime(2019, 7, 1, 17, 30),
  'customer_id': 6,
  'clerk_id': '190006',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d38030dba2abcaaee7b0c18'),
  'transaction_date': datetime.datetime(2019, 7, 1, 18, 30),
  'customer_id': 7,
  'clerk_id': '190005',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 1, 'subtotal': 200},
   {'code': 'turmericbutter', 'qty': 1, 'subtotal': 200}]},
 {'_id': ObjectId('5d380326ba2abcaaee7b0c19'),
  'transaction_date': datetime.datetime(2019, 7, 2, 8, 30),
  'customer_id': 3,
  'clerk_id': '190002',
  'total': 400,
  'items': [{'code': 'beer', 'qty': 2, 'subtotal': 400}]}]

### 2) Determine commissions of clerks from sales orders

Assuming each salesperson/clerk gets 1% of gross sales, list potentential commissions earned per sales order.

In [29]:
# do a quick dump of sales orders showing just the clerk id and total amount per sales order
[o for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1})]

[{'clerk_id': '190002', 'total': 400},
 {'clerk_id': '190001', 'total': 400},
 {'clerk_id': '190003', 'total': 400},
 {'clerk_id': '190004', 'total': 400},
 {'clerk_id': '190001', 'total': 400},
 {'clerk_id': '190006', 'total': 400},
 {'clerk_id': '190005', 'total': 400},
 {'clerk_id': '190002', 'total': 400}]

If you wish to display the name of the clerk, let's apply a lookup function

In [57]:
final_dict = dict()

def employee_lookup(x):
    employee = employees_col.find_one({"employee_id":x})
    return "{}, {}".format(employee["last_name"], employee["first_name"])

commission_rate = 0.01



employee_list = [{employee_lookup(o["clerk_id"]):{"total":o["total"], "commissions":o["total"]*.01}} for o in sales_orders_col.find({},{"_id":0,"clerk_id":1,"total":1})]

In [58]:
employee_list

[{'Uy, Chums': {'total': 400, 'commissions': 4.0}},
 {'Olpoc, Bong': {'total': 400, 'commissions': 4.0}},
 {'Gonzales, Joaqs': {'total': 400, 'commissions': 4.0}},
 {'Ilagan, Joben': {'total': 400, 'commissions': 4.0}},
 {'Olpoc, Bong': {'total': 400, 'commissions': 4.0}},
 {'Chan, Stephen': {'total': 400, 'commissions': 4.0}},
 {'Uy, Sean': {'total': 400, 'commissions': 4.0}},
 {'Uy, Chums': {'total': 400, 'commissions': 4.0}}]

#### 2a) Generate a csv file containing total commissions earned per employee

Go wild, be creative. Whether you generate the aggregate totals through accumulation (via regular iterators), Pandas dataframes, or through MongoDB aggregations, it's up to you.

The file must be saved as **commissions.csv"

The csv must have the following format:
```
last_name,first_name,total_sales,total_commissions
```

(20 points)

In [103]:
import csv
import re
import pandas as pd

In [132]:
for x in employees_col.find({},["last_name"]):
    print(x)

{'_id': 1, 'last_name': 'Olpoc'}
{'_id': 2, 'last_name': 'Uy'}
{'_id': 3, 'last_name': 'Gonzales'}
{'_id': 4, 'last_name': 'Ilagan'}
{'_id': 5, 'last_name': 'Uy'}
{'_id': 6, 'last_name': 'Chan'}

In [133]:
for x in employees_col.find({},["first_name"]):
    print(x)

{'_id': 1, 'first_name': 'Bong'}
{'_id': 2, 'first_name': 'Chums'}
{'_id': 3, 'first_name': 'Joaqs'}
{'_id': 4, 'first_name': 'Joben'}
{'_id': 5, 'first_name': 'Sean'}
{'_id': 6, 'first_name': 'Stephen'}

In [104]:
chums_sales=employee_list[0]["Uy, Chums"]["total"]+employee_list[7]["Uy, Chums"]["total"]
bong_sales=employee_list[1]["Olpoc, Bong"]["total"]+employee_list[4]["Olpoc, Bong"]["total"]
joaqs_sales=employee_list[2]["Gonzales, Joaqs"]["total"]
joben_sales=employee_list[3]["Ilagan, Joben"]["total"]
stephen_sales=employee_list[5]["Chan, Stephen"]["total"]
sean_sales=employee_list[6]["Uy, Sean"]["total"]

In [105]:
#codes for the total sales of each employee
chums_sales
bong_sales
joaqs_sales
joben_sales
stephen_sales
sean_sales

400

In [106]:
chums_commissions=chums_sales*.01
bong_commissions=bong_sales*.01
joaqs_commissions=joaqs_sales*.01
joben_commissions=joben_sales*.01
stephen_commissions=stephen_sales*.01
sean_commissions= sean_sales*.01

In [107]:
#codes for the total commissions of each employee
chums_commissions
bong_commissions
joaqs_commissions
joben_commissions
stephen_commissions
sean_commissions

4.0

In [108]:
first = employees_col.find({},["first_name"])
bong = first[0]["first_name"]
chums = first[1]["first_name"]
joaqs = first[2]["first_name"]
joben = first[3]["first_name"]
sean = first[4]["first_name"]
stephen = first[5]["first_name"]

In [109]:
#codes to get the first names
chums
bong 
joaqs 
joben 
stephen
sean

'Sean'

In [118]:
last = employees_col.find({},["last_name"])
olpoc = last[0]["last_name"]
uy1 = last[1]["last_name"]
gonzales= last[2]["last_name"]
ilagan = last[3]["last_name"]
uy2 = last[4]["last_name"]
chan = last[5]["last_name"]

In [119]:
#codes to get the last names
uy1
olpoc
gonzales
ilagan
chan
uy2

'Uy'

In [120]:
commissions_df = pd.DataFrame({"last_name":[uy1, olpoc, gonzales, ilagan, chan, uy2],
                               "first_name":[chums, bong , joaqs , joben , stephen, sean],
                               "total_sales":[chums_sales, bong_sales, joaqs_sales, joben_sales, stephen_sales, sean_sales],
                               "total_commissions":[chums_commissions, bong_commissions, joaqs_commissions, joben_commissions, stephen_commissions, sean_commissions],
                  })

commissions_df

  last_name first_name  total_sales  total_commissions
0        Uy      Chums          800                8.0
1     Olpoc       Bong          800                8.0
2  Gonzales      Joaqs          400                4.0
3    Ilagan      Joben          400                4.0
4      Chan    Stephen          400                4.0
5        Uy       Sean          400                4.0

In [121]:
commissions_df.to_csv("commissions.csv")

#### 2b) Generate a payslip per clerk

Each clerk must receive a payslip (as represented by separate files with the format <employee id>-commissions.html) containing the following:
    
```
<html>
   <div>{first_name} {last_name}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions}</div>
   <div><br/>
</html>
```

(20 points)

In [124]:
from IPython.core.display import HTML

chums_html = """
<html>
   <div>{first_chums} {last_chums}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales_chums}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions_chums}</div>
   <div><br/>
</html>
"""

html_result = chums_html.format(first_chums = chums,
                                last_chums = uy1,
                                total_sales_chums = chums_sales,
                                total_commissions_chums = chums_commissions
)

HTML(html_result)

with open('chums-commissions.html',"w") as file:
    file.write(html_result)

In [125]:
from IPython.core.display import HTML

bong_html = """
<html>
   <div>{first_bong} {last_bong}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales_bong}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions_bong}</div>
   <div><br/>
</html>
"""

html_result = bong_html.format(first_bong = bong,
                                last_bong = olpoc,
                                total_sales_bong = bong_sales,
                                total_commissions_bong = bong_commissions
)

HTML(html_result)

with open('bong-commissions.html',"w") as file:
    file.write(html_result)

In [128]:
from IPython.core.display import HTML

joaqs_html = """
<html>
   <div>{first_joaqs} {last_joaqs}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales_joaqs}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions_joaqs}</div>
   <div><br/>
</html>
"""

html_result = joaqs_html.format(first_joaqs = joaqs,
                                last_joaqs = gonzales,
                                total_sales_joaqs = joaqs_sales,
                                total_commissions_joaqs = joaqs_commissions
)

HTML(html_result)

with open('joaqs-commissions.html',"w") as file:
    file.write(html_result)

In [129]:
from IPython.core.display import HTML

joben_html = """
<html>
   <div>{first_joben} {last_joben}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales_joben}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions_joben}</div>
   <div><br/>
</html>
"""

html_result = joben_html.format(first_joben = joben,
                                last_joben = ilagan,
                                total_sales_joben = joben_sales,
                                total_commissions_joben = joben_commissions
)

HTML(html_result)

with open('joben-commissions.html',"w") as file:
    file.write(html_result)

In [130]:
from IPython.core.display import HTML

stephen_html = """
<html>
   <div>{first_stephen} {last_stephen}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales_stephen}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions_stephen}</div>
   <div><br/>
</html>
"""

html_result = stephen_html.format(first_stephen = stephen,
                                last_stephen = chan,
                                total_sales_stephen = stephen_sales,
                                total_commissions_stephen = stephen_commissions
)

HTML(html_result)

with open('stephen-commissions.html',"w") as file:
    file.write(html_result)

In [131]:
from IPython.core.display import HTML

sean_html = """
<html>
   <div>{first_sean} {last_sean}</div><br/>
   <div id="total_sales">
       <div>Total Sales: </div><div>{total_sales_sean}</div>
   <div><br/>
   <div id="total_commissions">
       <div>Total Commissions: </div><div>{total_commissions_sean}</div>
   <div><br/>
</html>
"""

html_result = sean_html.format(first_sean = sean,
                                last_sean = uy2,
                                total_sales_sean = sean_sales, 
                                total_commissions_sean = sean_commissions
)

HTML(html_result)

with open('sean-commissions.html',"w") as file:
    file.write(html_result)