# Assignment 4

Group Members: Cruz, Melliza, Shih, Tio, Uykingtian

## Using a NoSQL Database from Python


Since we have time constraints in coming up with functional and sleek prototypes for the final project, I figured to introduce NoSQL to the class as a graded final assignment.

A **NoSQL** (originally referring to "non SQL" or "non relational") database provides a mechanism for storage and retrieval of data that is modeled in means other than the tabular relations used in SQL-based relational databases like MySQL. *(Definition derived from Wikipedia)*

Such databases have existed since the late 1960s, but did not obtain the "NoSQL" moniker until a surge of popularity in the early 21st century, triggered by the needs of Web 2.0 companies. NoSQL databases are increasingly used in big data and real-time web applications. 

NoSQL systems are also sometimes called "Not only SQL" to emphasize that they may support SQL-like query languages, or sit alongside SQL databases.

An example of a NoSQL is MongoDB, which you can download for free from https://mongodb.com.

### 1) Setup 

I decided to make this a graded section as acknowledgment that things can go wrong during setup and installation. With this, should you encounter any errors, I expect you to Google and search from tech forum sites like StackOverflow for answers. Off-hand, if you have a clean Anaconda installation, there shouldn't be any problems; otherwise, you may have to reinstall Anaconda.

#### 1a) Download and install MongoDB on your Windows or MacOS laptop if you already haven't done so yet.

**(2 points)**

#### 1b)  Setup Python libraries to use with MongoDB

From Anaconda and/or Jupyter Notebook, install PyMongo.

The code and sample output are already found on the next cell for you to execute.

**(2 points)**

In [2]:
conda install pymongo

Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

#### 1c) Test PyMongo Installation

To test if the PyMongo installation succeeded, import the PyMongo module. You shouldn't see any errors come out.

The command has already been provided for you below.

If there are problems, try restarting the Kernel of this notebook or the whole Jupyter notebook.

**(2 points)**

In [1]:
import pymongo

### 2) Creating databases

In MongoDB, databases hold collections of documents.

We will create three initial databases for our fictitious retail business: 

* `products`: stores product information including prices and current inventory quantities
* `order_management`: stores customer sales order transactions
* `hr`: stores employee information, including salaries and employment status

In reality, MongoDB does not create the databases until content is made available, but the following commands will provide database placeholders already.

**Note:** Python acts as a *client* to the MongoDB *server*, hence the use of the variable name `myclient`. Recall the term **client-server** as discussed in yesterday's lecture.

#### 2a) Create the database placeholders

Run the cell below to create the databases we will need for the rest of this Assignment.

**(2 points)**

In [2]:
# run this cell to create the databases needed for the rest of this Assignment

import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

products_db = myclient["products"]
order_management_db = myclient["order_management"]
hr_db = myclient["hr"]

Check if the databases have been created. You'll notice that since we haven't created content yet, the databases we created will not show up.

In [3]:
print(myclient.list_database_names())

['admin', 'config', 'hr', 'local', 'order_management', 'products']

### 3) Create Collections

#### 3a) Warm-up

Run the cell below to create our first collection `customers` in the `order_management` database.

Note that we already assigned the reference to the order_management database to the variable `order_management_db`.

**(2 points)**

In [4]:
customers_col = order_management_db['customers']

In [5]:
# Check if collection has been created; none will show up yet because there's no content.
print(order_management_db.list_collection_names())

['sales_orders', 'customers']

#### 3b) Inserting Documents

**(2 points)**

In [6]:
customer = { "first_name": "Rodrigo", "last_name": "Duterte", "city": "Manila", "points":1000 }

x = customers_col.insert_one(customer)

The `insert_one()` method returns a InsertOneResult object, which has a property, `inserted_id`, that holds the id of the inserted document. Depending on your final projects, you may or may not find this property useful. Note that the value returned may vary from what others may get.

In [7]:
# insert another
customer = { "first_name": "Rodrigo", "last_name": "Duterte", "city": "Manila", "points":1000 }

x = customers_col.insert_one(customer)

print(x.inserted_id)

5d38026ea7fba3b9bdedef4f

#### 3c) Insert Multiple Documents

**(4 points)**

In [11]:
# again note that the extra comma at the end of the list is not a syntax error

customer_list = [
  { "first_name": "Leni", "last_name": "Robredo", "city": "Manila", "points":1000 },
  { "first_name": "Tito", "last_name": "Sotto", "city": "Pasig", "points":2000 },
  { "first_name": "Sonny", "last_name": "Angara", "city": "Manila", "points":5000 },
  { "first_name": "Cynthia", "last_name": "Villar", "city": "Paranaque", "points":500 },
  { "first_name": "Gloria", "last_name": "Arroyo", "city": "Quezon City", "points":700 },
  { "first_name": "Manny", "last_name": "Pacquiao", "city": "Makati", "points":950 },
  { "first_name": "Bam", "last_name": "Aquino", "city": "Quezon City", "points":1120 },
  { "first_name": "Bato", "last_name": "Dela Rosa", "city": "Taguig", "points":2500 },
  { "first_name": "Koko", "last_name": "Pimentel", "city": "Muntinlupa", "points":3250 },
]

x = customers_col.insert_many(customer_list)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('5d38028ea7fba3b9bdedef59'), ObjectId('5d38028ea7fba3b9bdedef5a'), ObjectId('5d38028ea7fba3b9bdedef5b'), ObjectId('5d38028ea7fba3b9bdedef5c'), ObjectId('5d38028ea7fba3b9bdedef5d'), ObjectId('5d38028ea7fba3b9bdedef5e'), ObjectId('5d38028ea7fba3b9bdedef5f'), ObjectId('5d38028ea7fba3b9bdedef60'), ObjectId('5d38028ea7fba3b9bdedef61')]

Let's check if the documents have been created. Run the next cell. We will revisit the `find()` method later.

In [12]:
[c for c in customers_col.find()]

[{'_id': ObjectId('5d38028ea7fba3b9bdedef59'),
  'first_name': 'Leni',
  'last_name': 'Robredo',
  'city': 'Manila',
  'points': 1000},
 {'_id': ObjectId('5d38028ea7fba3b9bdedef5a'),
  'first_name': 'Tito',
  'last_name': 'Sotto',
  'city': 'Pasig',
  'points': 2000},
 {'_id': ObjectId('5d38028ea7fba3b9bdedef5b'),
  'first_name': 'Sonny',
  'last_name': 'Angara',
  'city': 'Manila',
  'points': 5000},
 {'_id': ObjectId('5d38028ea7fba3b9bdedef5c'),
  'first_name': 'Cynthia',
  'last_name': 'Villar',
  'city': 'Paranaque',
  'points': 500},
 {'_id': ObjectId('5d38028ea7fba3b9bdedef5d'),
  'first_name': 'Gloria',
  'last_name': 'Arroyo',
  'city': 'Quezon City',
  'points': 700},
 {'_id': ObjectId('5d38028ea7fba3b9bdedef5e'),
  'first_name': 'Manny',
  'last_name': 'Pacquiao',
  'city': 'Makati',
  'points': 950},
 {'_id': ObjectId('5d38028ea7fba3b9bdedef5f'),
  'first_name': 'Bam',
  'last_name': 'Aquino',
  'city': 'Quezon City',
  'points': 1120},
 {'_id': ObjectId('5d38028ea7fba3b9bdedef60'),
  'first_name': 'Bato',
  'last_name': 'Dela Rosa',
  'city': 'Taguig',
  'points': 2500},
 {'_id': ObjectId('5d38028ea7fba3b9bdedef61'),
  'first_name': 'Koko',
  'last_name': 'Pimentel',
  'city': 'Muntinlupa',
  'points': 3250}]

#### 3d) Insert Multiple Documents with Specific IDs

If you do not want MongoDB to assign unique ids for you document, you can specify the `_id` field when you insert the document(s).

Remember that the values has to be unique. Two documents cannot have the same `_id`.

Run the next cell.

**(4 points)**

In [13]:
# Let's delete the inserted rows first
# we will revisit this command later, so don't worry if it doesn't make sense yet
customers_col.delete_many({})

# Insert new rows with custom _ids

customer_list = [
  { "_id":1, "first_name": "Rodrigo", "last_name": "Duterte", "city": "Manila", "points":1000 },
  { "_id":2, "first_name": "Leni", "last_name": "Robredo", "city": "Manila", "points":1000 },
  { "_id":3, "first_name": "Tito", "last_name": "Sotto", "city": "Pasig", "points":2000 },
  { "_id":4, "first_name": "Sonny", "last_name": "Angara", "city": "Manila", "points":5000 },
  { "_id":5, "first_name": "Cynthia", "last_name": "Villar", "city": "Paranaque", "points":500 },
  { "_id":6, "first_name": "Gloria", "last_name": "Arroyo", "city": "Quezon City", "points":700 },
  { "_id":7, "first_name": "Manny", "last_name": "Pacquiao", "city": "Makati", "points":950 },
  { "_id":8, "first_name": "Bam", "last_name": "Aquino", "city": "Quezon City", "points":1120 },
  { "_id":9, "first_name": "Bato", "last_name": "Dela Rosa", "city": "Taguig", "points":2500 },
  { "_id":10, "first_name": "Koko", "last_name": "Pimentel", "city": "Muntinlupa", "points":3250 },
]

x = customers_col.insert_many(customer_list)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 3e) Your turn: Insert product documents

Using the techniques above, insert a list of products with the given dictionary format into the `products` collection. But first you need to create a `products` collection in the **products** database. Print out the `_id`s just like above.

**(5 points)**

In [16]:
product_list = [
    {"_id":1, "code":"turmericbutter","name":"Turmeric Butter Handcrafted Soap","price":200,"avail_qty":500},
    {"_id":2, "code":"aleppo","name":"Aleppo Soap","price":300,"avail_qty":1000},
    {"_id":3, "code":"castillebar","name":"Castille Soap Bar","price":130,"avail_qty":2000},
    {"_id":4, "code":"beer","name":"Beer Handcrafted Soap","price":200,"avail_qty":50},
    {"_id":5, "code":"aloemoringa","name":"Aloe Moringa Handcrafted Soap","price":200,"avail_qty":300},
    {"_id":6, "code":"milkoatshoney","name":"Milk, Oats and Honey Handcrafted Soap","price":150,"avail_qty":250},
]

# write your code below
# ---------------------

# create products collection (assign to the variable products_col:
products_col = products_db["products"]

# insert list above into the collection
x = products_col.insert_many(product_list)


# print out inserted ids
print(x.inserted_ids)

# ---------------------

[1, 2, 3, 4, 5, 6]

In [17]:
# if you make a mistake and you need to insert again, feel free to delete the documents first before retrying.
# use the command below.
# products_col.delete_many({})

In [18]:
employees_col.delete_many({})

NameError: name 'employees_col' is not defined

#### 3f)  Insert employees documents

Using the techniques above, insert a list of employees with the given dictionary format into the `employees` collection. But first you need to create a `employees` collection in the **hr** database. Print out the `_id`s just like above.

**(5 points)**

In [19]:
employees_list = [
    {"_id":1, "first_name":"Bong","last_name":"Olpoc","base_pay":2000},
    {"_id":2, "first_name":"Chums","last_name":"Uy","base_pay":1500},
    {"_id":3, "first_name":"Joaqs","last_name":"Gonzales","base_pay":1000},
    {"_id":4, "first_name":"Joben","last_name":"Ilagan","base_pay":1000},
    {"_id":5, "first_name":"Sean","last_name":"Uy","base_pay":2000},
    {"_id":6, "first_name":"Stephen","last_name":"Chan","base_pay":1500},
]


# write your code below
# ---------------------

# create employees collection (assign to the variable employees_col:
employees_col = hr_db["employees"]

# insert list above into the collection
x = employees_col.insert_many(employees_list)


# print out inserted ids
print(x.inserted_ids)

# ---------------------

[1, 2, 3, 4, 5, 6]

### 4) Finding documents

In MongoDB we use the find and findOne methods to find data in a collection.

Just like the `SELECT` statement is used to find data in a table in a MySQL database.

You've already seen `.find()` at work in 3c) above.

Run the cell below to find the first document in the **customers** collection. (Not graded as it is too simple.)

In [20]:
x = customers_col.find_one()

print(x)

{'_id': 1, 'first_name': 'Rodrigo', 'last_name': 'Duterte', 'city': 'Manila', 'points': 1000}

To select data from a table in MongoDB, we can also use the find() method.

The `find()` method returns all occurrences in the selection.

The first parameter of the `find()` method is a query object. In this example we use an empty query object, which selects all documents in the collection.

Run the cell below. Not graded as it is too simple, but do it anyway as it will help you answer the succeeding questions.

In [21]:
for x in customers_col.find():
  print(x)

{'_id': 1, 'first_name': 'Rodrigo', 'last_name': 'Duterte', 'city': 'Manila', 'points': 1000}
{'_id': 2, 'first_name': 'Leni', 'last_name': 'Robredo', 'city': 'Manila', 'points': 1000}
{'_id': 3, 'first_name': 'Tito', 'last_name': 'Sotto', 'city': 'Pasig', 'points': 2000}
{'_id': 4, 'first_name': 'Sonny', 'last_name': 'Angara', 'city': 'Manila', 'points': 5000}
{'_id': 5, 'first_name': 'Cynthia', 'last_name': 'Villar', 'city': 'Paranaque', 'points': 500}
{'_id': 6, 'first_name': 'Gloria', 'last_name': 'Arroyo', 'city': 'Quezon City', 'points': 700}
{'_id': 7, 'first_name': 'Manny', 'last_name': 'Pacquiao', 'city': 'Makati', 'points': 950}
{'_id': 8, 'first_name': 'Bam', 'last_name': 'Aquino', 'city': 'Quezon City', 'points': 1120}
{'_id': 9, 'first_name': 'Bato', 'last_name': 'Dela Rosa', 'city': 'Taguig', 'points': 2500}
{'_id': 10, 'first_name': 'Koko', 'last_name': 'Pimentel', 'city': 'Muntinlupa', 'points': 3250}

The second parameter of the find() method is an object describing which fields to include in the result.

This parameter is optional. If you choose to omit, all fields will be included.

In [22]:
# this one uses a list
for x in customers_col.find({},["_idfirst_name","last_name"]):
  print(x)

{'_id': 1, 'last_name': 'Duterte'}
{'_id': 2, 'last_name': 'Robredo'}
{'_id': 3, 'last_name': 'Sotto'}
{'_id': 4, 'last_name': 'Angara'}
{'_id': 5, 'last_name': 'Villar'}
{'_id': 6, 'last_name': 'Arroyo'}
{'_id': 7, 'last_name': 'Pacquiao'}
{'_id': 8, 'last_name': 'Aquino'}
{'_id': 9, 'last_name': 'Dela Rosa'}
{'_id': 10, 'last_name': 'Pimentel'}

In [23]:
# this one uses a dictionary (0 denotes off, 1 denotes on)
for x in customers_col.find({},{"_id":0, "first_name":1,"last_name":1}):
  print(x)

{'first_name': 'Rodrigo', 'last_name': 'Duterte'}
{'first_name': 'Leni', 'last_name': 'Robredo'}
{'first_name': 'Tito', 'last_name': 'Sotto'}
{'first_name': 'Sonny', 'last_name': 'Angara'}
{'first_name': 'Cynthia', 'last_name': 'Villar'}
{'first_name': 'Gloria', 'last_name': 'Arroyo'}
{'first_name': 'Manny', 'last_name': 'Pacquiao'}
{'first_name': 'Bam', 'last_name': 'Aquino'}
{'first_name': 'Bato', 'last_name': 'Dela Rosa'}
{'first_name': 'Koko', 'last_name': 'Pimentel'}

In [24]:
# this one will exclude city from the result
for x in customers_col.find({},{"city":0}):
  print(x)

{'_id': 1, 'first_name': 'Rodrigo', 'last_name': 'Duterte', 'points': 1000}
{'_id': 2, 'first_name': 'Leni', 'last_name': 'Robredo', 'points': 1000}
{'_id': 3, 'first_name': 'Tito', 'last_name': 'Sotto', 'points': 2000}
{'_id': 4, 'first_name': 'Sonny', 'last_name': 'Angara', 'points': 5000}
{'_id': 5, 'first_name': 'Cynthia', 'last_name': 'Villar', 'points': 500}
{'_id': 6, 'first_name': 'Gloria', 'last_name': 'Arroyo', 'points': 700}
{'_id': 7, 'first_name': 'Manny', 'last_name': 'Pacquiao', 'points': 950}
{'_id': 8, 'first_name': 'Bam', 'last_name': 'Aquino', 'points': 1120}
{'_id': 9, 'first_name': 'Bato', 'last_name': 'Dela Rosa', 'points': 2500}
{'_id': 10, 'first_name': 'Koko', 'last_name': 'Pimentel', 'points': 3250}

The query below will show all documents where **city** is Pasig.

In [25]:
# this one will exclude city from the result
myquery = { "city": "Pasig" }
mydoc = customers_col.find(myquery)
for x in mydoc:
  print(x)

{'_id': 3, 'first_name': 'Tito', 'last_name': 'Sotto', 'city': 'Pasig', 'points': 2000}

**Advanced Queries:**

`$eq`	Matches values that are equal to a specified value.  
`$gt`	Matches values that are greater than a specified value.  
`$gte`	Matches values that are greater than or equal to a specified value.  
`$in`	Matches any of the values specified in an array.  
`$lt`	Matches values that are less than a specified value.  
`$lte`	Matches values that are less than or equal to a specified value.  
`$ne`	Matches all values that are not equal to a specified value.  
`$nin`	Matches none of the values specified in an array.

In [26]:
# this query is equivalent to the previous one
myquery = { "city": {"$eq":"Pasig"} }
mydoc = customers_col.find(myquery)
for x in mydoc:
  print(x)

{'_id': 3, 'first_name': 'Tito', 'last_name': 'Sotto', 'city': 'Pasig', 'points': 2000}

Find all customers whose points are greater than 1500.

In [27]:

myquery = {"points": {"$gt":1500}}

mydoc = customers_col.find(myquery)

for x in mydoc:
  print(x)

{'_id': 3, 'first_name': 'Tito', 'last_name': 'Sotto', 'city': 'Pasig', 'points': 2000}
{'_id': 4, 'first_name': 'Sonny', 'last_name': 'Angara', 'city': 'Manila', 'points': 5000}
{'_id': 9, 'first_name': 'Bato', 'last_name': 'Dela Rosa', 'city': 'Taguig', 'points': 2500}
{'_id': 10, 'first_name': 'Koko', 'last_name': 'Pimentel', 'city': 'Muntinlupa', 'points': 3250}

Regular expressions may also be used to find strings.

Find all customers where city starts with "Pa".

In [28]:
myquery = { "city": { "$regex": "^Pa" } }

mydoc = customers_col.find(myquery)

for x in mydoc:
  print(x)

{'_id': 3, 'first_name': 'Tito', 'last_name': 'Sotto', 'city': 'Pasig', 'points': 2000}
{'_id': 5, 'first_name': 'Cynthia', 'last_name': 'Villar', 'city': 'Paranaque', 'points': 500}

#### 4a) Your turn: Find all products

You'll find remnants from my solution key in the output of the cell below. Use the output for guidance.

**(5 points)**

In [29]:
## write code below

for x in products_col.find():
    print(x)

{'_id': 1, 'code': 'turmericbutter', 'name': 'Turmeric Butter Handcrafted Soap', 'price': 200, 'avail_qty': 500}
{'_id': 2, 'code': 'aleppo', 'name': 'Aleppo Soap', 'price': 300, 'avail_qty': 1000}
{'_id': 3, 'code': 'castillebar', 'name': 'Castille Soap Bar', 'price': 130, 'avail_qty': 2000}
{'_id': 4, 'code': 'beer', 'name': 'Beer Handcrafted Soap', 'price': 200, 'avail_qty': 50}
{'_id': 5, 'code': 'aloemoringa', 'name': 'Aloe Moringa Handcrafted Soap', 'price': 200, 'avail_qty': 300}
{'_id': 6, 'code': 'milkoatshoney', 'name': 'Milk, Oats and Honey Handcrafted Soap', 'price': 150, 'avail_qty': 250}

#### 4b) Print **only** the names and prices of products below 300 in price.

**(5 points)**

In [30]:
myquery = {"price": {"$lt":300}}

mydoc = products_col.find(myquery)

for x in mydoc:
  print(x)

{'_id': 1, 'code': 'turmericbutter', 'name': 'Turmeric Butter Handcrafted Soap', 'price': 200, 'avail_qty': 500}
{'_id': 3, 'code': 'castillebar', 'name': 'Castille Soap Bar', 'price': 130, 'avail_qty': 2000}
{'_id': 4, 'code': 'beer', 'name': 'Beer Handcrafted Soap', 'price': 200, 'avail_qty': 50}
{'_id': 5, 'code': 'aloemoringa', 'name': 'Aloe Moringa Handcrafted Soap', 'price': 200, 'avail_qty': 300}
{'_id': 6, 'code': 'milkoatshoney', 'name': 'Milk, Oats and Honey Handcrafted Soap', 'price': 150, 'avail_qty': 250}

#### 4c) Display product names and quantity levels where quantity is less than or equal to the critical level of 50

**(5 points)**

In [31]:
myquery = {"avail_qty": {"$lte":50}}

mydoc = products_col.find(myquery)

for x in mydoc:
  print(x)

{'_id': 4, 'code': 'beer', 'name': 'Beer Handcrafted Soap', 'price': 200, 'avail_qty': 50}

#### 4d) Use regex to find all products with "Handcrafted" in the name

**(5 points)**

In [32]:
myquery = {"name": {"$regex":"Handcrafted"}}

mydoc = products_col.find(myquery)

for x in mydoc:
  print(x)

{'_id': 1, 'code': 'turmericbutter', 'name': 'Turmeric Butter Handcrafted Soap', 'price': 200, 'avail_qty': 500}
{'_id': 4, 'code': 'beer', 'name': 'Beer Handcrafted Soap', 'price': 200, 'avail_qty': 50}
{'_id': 5, 'code': 'aloemoringa', 'name': 'Aloe Moringa Handcrafted Soap', 'price': 200, 'avail_qty': 300}
{'_id': 6, 'code': 'milkoatshoney', 'name': 'Milk, Oats and Honey Handcrafted Soap', 'price': 150, 'avail_qty': 250}

### 5) Updating Collections

You can update a record, or document as it is called in MongoDB, by using the `update_one()` method.

The first parameter of the `update_one()` method is a query object defining which document to update.

First, let's inspect the city where Rodrigo Duterte belongs:

In [33]:
x = customers_col.find_one({"last_name":"Duterte"})
print(x)

{'_id': 1, 'first_name': 'Rodrigo', 'last_name': 'Duterte', 'city': 'Manila', 'points': 1000}

Change Duterte's city from "Manila" to "Davao City". Note the changes after the update.

Run the cell below. No points as this is too simple, but do anyway as it will help in the succeeding questions.

In [34]:
myquery = { "last_name": "Duterte" }
newvalues = { "$set": { "city": "Davao City" } }
customers_col.update_one(myquery,newvalues)

# print customers after the update
for x in customers_col.find():
  print(x)

{'_id': 1, 'first_name': 'Rodrigo', 'last_name': 'Duterte', 'city': 'Davao City', 'points': 1000}
{'_id': 2, 'first_name': 'Leni', 'last_name': 'Robredo', 'city': 'Manila', 'points': 1000}
{'_id': 3, 'first_name': 'Tito', 'last_name': 'Sotto', 'city': 'Pasig', 'points': 2000}
{'_id': 4, 'first_name': 'Sonny', 'last_name': 'Angara', 'city': 'Manila', 'points': 5000}
{'_id': 5, 'first_name': 'Cynthia', 'last_name': 'Villar', 'city': 'Paranaque', 'points': 500}
{'_id': 6, 'first_name': 'Gloria', 'last_name': 'Arroyo', 'city': 'Quezon City', 'points': 700}
{'_id': 7, 'first_name': 'Manny', 'last_name': 'Pacquiao', 'city': 'Makati', 'points': 950}
{'_id': 8, 'first_name': 'Bam', 'last_name': 'Aquino', 'city': 'Quezon City', 'points': 1120}
{'_id': 9, 'first_name': 'Bato', 'last_name': 'Dela Rosa', 'city': 'Taguig', 'points': 2500}
{'_id': 10, 'first_name': 'Koko', 'last_name': 'Pimentel', 'city': 'Muntinlupa', 'points': 3250}

To update all documents that meets the criteria of the query, use the `update_many()` method.

Assign 10000 points to Robredo.

In [35]:
myquery = {"last_name":{"$eq":"Robredo"}}
new_values = {"$set": {"points":10000}}
customers_col.update_many(myquery,new_values)
for x in customers_col.find({}):
    print(x)

{'_id': 1, 'first_name': 'Rodrigo', 'last_name': 'Duterte', 'city': 'Davao City', 'points': 1000}
{'_id': 2, 'first_name': 'Leni', 'last_name': 'Robredo', 'city': 'Manila', 'points': 10000}
{'_id': 3, 'first_name': 'Tito', 'last_name': 'Sotto', 'city': 'Pasig', 'points': 2000}
{'_id': 4, 'first_name': 'Sonny', 'last_name': 'Angara', 'city': 'Manila', 'points': 5000}
{'_id': 5, 'first_name': 'Cynthia', 'last_name': 'Villar', 'city': 'Paranaque', 'points': 500}
{'_id': 6, 'first_name': 'Gloria', 'last_name': 'Arroyo', 'city': 'Quezon City', 'points': 700}
{'_id': 7, 'first_name': 'Manny', 'last_name': 'Pacquiao', 'city': 'Makati', 'points': 950}
{'_id': 8, 'first_name': 'Bam', 'last_name': 'Aquino', 'city': 'Quezon City', 'points': 1120}
{'_id': 9, 'first_name': 'Bato', 'last_name': 'Dela Rosa', 'city': 'Taguig', 'points': 2500}
{'_id': 10, 'first_name': 'Koko', 'last_name': 'Pimentel', 'city': 'Muntinlupa', 'points': 3250}

`$currentDate`	Sets the value of a field to current date, either as a Date or a Timestamp.  
`$inc`	Increments the value of the field by the specified amount.  
`$min`	Only updates the field if the specified value is less than the existing field value.  
`$max`	Only updates the field if the specified value is greater than the existing field value.  
`$mul`	Multiplies the value of the field by the specified amount.
`$rename`	Renames a field.  
`$set`	Sets the value of a field in a document.  
`$setOnInsert`	Sets the value of a field if an update results in an insert of a document. Has no effect on update operations that modify existing documents.  
`$unset`	Removes the specified field from a document.

Double the points of **all** customers.

No points, but do anyway.

In [36]:
myquery = {}
new_values = {"$mul": {"points": 2}}
customers_col.update_many(myquery,new_values)
for x in customers_col.find({}):
    print(x)

{'_id': 1, 'first_name': 'Rodrigo', 'last_name': 'Duterte', 'city': 'Davao City', 'points': 2000}
{'_id': 2, 'first_name': 'Leni', 'last_name': 'Robredo', 'city': 'Manila', 'points': 20000}
{'_id': 3, 'first_name': 'Tito', 'last_name': 'Sotto', 'city': 'Pasig', 'points': 4000}
{'_id': 4, 'first_name': 'Sonny', 'last_name': 'Angara', 'city': 'Manila', 'points': 10000}
{'_id': 5, 'first_name': 'Cynthia', 'last_name': 'Villar', 'city': 'Paranaque', 'points': 1000}
{'_id': 6, 'first_name': 'Gloria', 'last_name': 'Arroyo', 'city': 'Quezon City', 'points': 1400}
{'_id': 7, 'first_name': 'Manny', 'last_name': 'Pacquiao', 'city': 'Makati', 'points': 1900}
{'_id': 8, 'first_name': 'Bam', 'last_name': 'Aquino', 'city': 'Quezon City', 'points': 2240}
{'_id': 9, 'first_name': 'Bato', 'last_name': 'Dela Rosa', 'city': 'Taguig', 'points': 5000}
{'_id': 10, 'first_name': 'Koko', 'last_name': 'Pimentel', 'city': 'Muntinlupa', 'points': 6500}

#### 5a) Your turn. Replenish the available quantity of Beer Soap. Add 100 bars.

**(5 points)**

In [37]:
# first get the current quantity
myquery = {"code":"beer"}
x = products_col.find_one(myquery)
qty = x["avail_qty"]
print("Current Quantity: {}".format(qty))


new_qty = qty + 100
print("New Quantity: {}".format(new_qty))
## write code below

new_value = {"$set":{"avail_qty":new_qty}}
x = products_col.update_one(myquery,new_value)


for x in products_col.find({}):
    print(x)

Current Quantity: 50
New Quantity: 150
{'_id': 1, 'code': 'turmericbutter', 'name': 'Turmeric Butter Handcrafted Soap', 'price': 200, 'avail_qty': 500}
{'_id': 2, 'code': 'aleppo', 'name': 'Aleppo Soap', 'price': 300, 'avail_qty': 1000}
{'_id': 3, 'code': 'castillebar', 'name': 'Castille Soap Bar', 'price': 130, 'avail_qty': 2000}
{'_id': 4, 'code': 'beer', 'name': 'Beer Handcrafted Soap', 'price': 200, 'avail_qty': 150}
{'_id': 5, 'code': 'aloemoringa', 'name': 'Aloe Moringa Handcrafted Soap', 'price': 200, 'avail_qty': 300}
{'_id': 6, 'code': 'milkoatshoney', 'name': 'Milk, Oats and Honey Handcrafted Soap', 'price': 150, 'avail_qty': 250}

#### 5b) Increase base pay of all employes by 10% across the board.

Note: just multiply the amount by 1.10.

Use the output from the remnants of the solution key below for your guidance.

**(5 points)**

In [38]:
### write code below

myquery = {}
new_values = {"$mul": {"base_pay": 1.10}}
employees_col.update_many(myquery,new_values)
for x in employees_col.find({}):
    print(x)

{'_id': 1, 'first_name': 'Bong', 'last_name': 'Olpoc', 'base_pay': 2200.0}
{'_id': 2, 'first_name': 'Chums', 'last_name': 'Uy', 'base_pay': 1650.0000000000002}
{'_id': 3, 'first_name': 'Joaqs', 'last_name': 'Gonzales', 'base_pay': 1100.0}
{'_id': 4, 'first_name': 'Joben', 'last_name': 'Ilagan', 'base_pay': 1100.0}
{'_id': 5, 'first_name': 'Sean', 'last_name': 'Uy', 'base_pay': 2200.0}
{'_id': 6, 'first_name': 'Stephen', 'last_name': 'Chan', 'base_pay': 1650.0000000000002}